*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
nav{
    height: 100px;
    background: rgb(255, 255, 255);
}
nav img{
    position: absolute;
    width: 200px;
    height: 90px;
    top: 5px;
    left: 5%;
    text-transform: uppercase;
}
nav ul{
    float: right;
    margin-right: 25px;
    margin-top: 20px;
    list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
}
nav ul li a:hover, .active{
    background-color: #4f0a5d;
    padding: 10px 20px;
    color: rgb(199, 206, 207);
    font-size: large;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}
label #s1, label #s2{
    font-size: 30px;
    color: #000;
    float: right;
    line-height: 60px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
#res-menu{
    display: none;
}

/* Scroll-bar */
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(82, 5, 97);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(218, 164, 231);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 255, 255);  /* creates padding around scroll thumb */
  }

/* Banner - Home*/
.banner, .banner-2{
    display: flex;
    padding: 50px 0 0 0;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(184,182,227) 0%, rgba(225,245,249,1) 100%);
    height: 80vh;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}
.banner .profile-image{
    width: 400px;
    height: 500px;
    
}
.banner .profile-image > img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.banner .self-description{
    width: 800px;
    height: 90%;
    padding: 20px;
    border: 4px solid #fff;
    display: flex;
    flex-direction: column;
}
.banner .self-description .description{
    display: flex;
    flex-direction: column;
}
.banner .self-description .description .heading, .banner .self-description .description .content{    
    margin-top: 10px;
    text-align: center;
}
.banner .self-description .description:nth-last-child(1){
    margin-top: 10px;
}
.banner .self-description .quote{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.banner .self-description .quote > .img-slider{
    position: relative;
    width: 50%;
    height: 250px;
    margin-left: 5px;
    border: 2px solid #fff;
}
.banner .self-description .quote > .img-slider > i{
    position: absolute;
    color: #fff;
}
.banner .self-description .quote > .img-slider > #previous{
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}
.banner .self-description .quote > .img-slider > img{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.banner .self-description .quote > .img-slider > #next{
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}
.banner .self-description .quote > .moto{
    width: 45%;
    border: 2px solid #fff;
    margin-right: 5px;
    padding: 10px;
}
.banner .self-description .quote > .moto > p {
    display: block;
    text-align: center;
    padding-top: 5px;
}
.banner .self-description .quote > .moto > img{
    width: 150px;
    height: 90px;
    background-size: cover;
    float: right;
}
.banner-text{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Banner - About */
.banner-2 .section-1{
    position: relative;
    width: 650px;
    height: 400px;
    padding: 20px;
    border: 4px solid #fff;
}
.banner-2 .section-1 p{
    text-align: justify;
    line-height: 1.5rem;
    height: auto;
}
.banner-2 .section-1 .signature{
    width: 100px;
    height: 50px;
    border: 1px solid #fff;
    right: 20px;
    position: absolute;
    bottom: 10px;
}
.banner-2 .section-1 .signature > img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.banner-2 .section-2{
    width: 400px;
    height: 400px;
    border: 2px solid #fff;
    position: relative;
    overflow: hidden;
}
.banner-2 .section-2 img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.banner-2 .section-2 #about-img{
    transition: 1s all ease-in-out;
}

/* Bio */
.bio{
    height: 200px;
    background-color: rgb(184,182,227);
    display: flex;
    justify-content: space-around;
}
.bio .birth, .bio .address, .bio .email{
    width: 300px;
    height: 150px;
    border: 1px solid #fff;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.bio .birth > i, .bio .address > i, .bio .email > i,
.bio .birth > p, .bio .address > p, .bio .email > p
{
    color: rgb(0, 0, 0);
    margin-top: 10px;
    
}

/* Map */
.map{
    margin-top: 5px;
}
.spinner{
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #4a0337; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40%;
    transform: translateX(-50%);
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  


/* Post */
.post, .school{
    padding-top: 10px;
    height: auto;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(184,182,227) 0%, rgba(225,245,249,1) 100%);
    display: flex;
    flex-direction: column;
}
.post .heading, .school .heading{
    padding: 20px 0 15px 0;
    text-align: center;
}
.post .content{
    display: flex;
    padding-top: 10px;
}
.post .content > span{
    position: relative;
    width: 20%;
    height: auto;
    border: 1px solid #fff;
}
.post .content > span > p{
    position: absolute;
    background-color: #fff;
    color: #000;
    bottom: 5px;
    padding: 10px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
#responsive-cv{
    display: none;
}
.post .content >span >img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
/* School */
.school{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(184,182,227) 0%, rgba(225,245,249,1) 100%);
    height: 60vh;
}
.school .content{
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.school .content > span{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 5px;
}
.school .content > span >img{
    width: 100%;
    height: 90%;
    background-size: cover;
}
.school .content > span >p{
    border: 1px solid #fff;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  }



/* Awards & Projects */
.topic{
    text-align: center;
    margin-top: 10px;
}
.row-1, .row-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background-color: rgb(184,182,227);
    padding: 10px 5px;
}
.row-2{
    background-color: rgb(199, 198, 225);
}
.row-1 .image, .row-2 .image{
    width: 450px;
    height: 320px;
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
}
.row-1 .image > img, .row-2 .image > img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.row-1 .image > button, .row-2 .image > button{
    z-index: 3;
    width: 150px;
    height: 50px;
    border: 1px solid #fff;
    background-color: rgb(63, 4, 57);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: -20%;
    transition: 1s all ease-in;
    left: 50%;
    transform: translateX(-50%);
}
.row-1 .content, .row-2 .content{
    width: 600px;
    height: auto;
    border: 1px solid #fff;
    padding: 20px 20px;
    position: relative;
}

.row-1 .content span, .row-2 .content span{
    display: block;
}
.row-1 .content span:nth-last-child(1), .row-2 .content span:nth-last-child(1){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-1 .content span > button, .row-2 .content span > button
{
    text-align: center;
    width: 150px;
    height: 50px;
    border: 1px solid #fff;
    background-color: rgb(63, 4, 57);
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.row-1 .content span > button:hover, .row-2 .content span > button:hover,
.row-1 .image > button:hover, .row-2 .image > button:hover
{
    background-color: #000;
}
.row-1 .content span > button, .row-2 .content span > button,
.row-1 .content span > h2, .row-2 .content span > h2
{
    text-align: center;
}
.row-1 .content #paragraph, .row-2 .content #paragraph{
    text-align: justify;
    margin-top: 10px;
}

/* Footer */
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: #000;
}

footer .about-info {
    width: 300px;
    border: 1px solid #fff;
    height: 80px;
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
}
footer .about-info > p{
    display: block;
    color: #fff;
}
footer .copyright{
    color: #fff;
}
footer .social{
    display: flex;
}
footer .social a > i {
    color: #fff;
    padding: 0 15px;
}

/* Certificate */
.certificate{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.certificate img{
    border: 2px solid #000;
}


/*Responsive*/
@media(max-width: 750px){
    /* Navigation */
    label #s1{
        display: block;
        margin-top: 20px;
    }
    nav ul{
        position: fixed;
        margin-top: 0;
        width: 100%;
        height: 100vh;
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(184,182,227) 0%, rgba(225,245,249,1) 100%);
        top: 100px;
        left: -100%;
        text-align: center;
        transition: 0.5s;
        z-index: 10; 
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }

    #res-menu:checked ~ ul{
        left: 0;
    }

    #res-menu:checked ~ label #s1{
        display: none;
    }

    #res-menu:checked ~ label #s2{
        display: block;
        margin-top: 20px;
    }

    .banner{
        height: auto;
        flex-direction: column;
        padding: 10px 5px;
    }
    .banner .profile-image{
        width: 350px;
        height: 400px;
    }
    .banner .self-description{
        margin-top: 10px;
        width: 100%;
        border: 1px solid #fff;
    }
    .banner .self-description .quote{
        flex-direction: column;
    }
    .banner .self-description .quote > .img-slider{
        width: 90%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .banner .self-description .quote > .moto{
        width: 90%;
        margin-right: 0;
        margin-bottom: 5px;
    }

    /* Banner - about */
    .banner-2{
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: auto;
    }
    .banner-2 .section-1{
        position: relative;
        width: 95%;
        height: 650px;
        margin-top: 10px;
        border: 1px solid #fff;
    }
  
    .banner-2 .section-2{
        width: 95%;
        height: 400px;
    }

    .banner-2 .section-1 .signature{
        margin-top: 10px;
    }
    
    /* Post */
    .post {
        height: auto;
    }
    .post .content{
        flex-direction: column;
        align-items: center;
    }
    .post .content > span{
        width: 300px;
        height: 300px;
        margin-bottom: 5px;
    }
    
    #responsive-hidden{
        display: none;
    }
    #responsive-cv{
        display: block;
    }

    /* School */
    .school {
        height: auto;
    }
    .school .content{
        flex-direction: column;
    }
    .school .content > span{
        display: block;
        height: auto;
        margin-bottom: 5px;
    }

    /* Spinner */
    .spinner{
        left: 35%;
    }

    /* Bio */
    .bio{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .bio .birth, .bio .address, .bio .email{
        margin: 5px 0;
    }

    /* Award and Projects */
    .row-1, .row-2{
        flex-direction: column;
        padding-top: 20px;
        height: auto;
    }
    .row-1 .content, .row-2 .content,
    .row-1 .image, .row-2 .image
    {
        width: 100%;
        height: auto;
    }

    /* Footer */
    footer {
        height: auto;
        flex-direction: column;
    }
    footer .about-info, footer .copyright{
        margin-top: 10px;
    }
    footer .social{
        margin-top: 15px;
    }
    footer .social a > i{
        padding: 0 15px;
    }

    /* Certificate */
    .certificate{
        grid-template-columns: 1fr;
        row-gap: 5px;
    }
}

@media(max-width: 510px){

}