<footer>
    <div class="about-info">
        <p>Madusanka Nipunajith</p>
        <p>madushankanipunajith@gmail.com</p>
        <p>168/B Oruthota Gampaha</p>
    </div>
    <div class="copyright">
        <p>Copyright 2022</p>
    </div>
    <div class="social">
        <a href="https://m.facebook.com/madusanka.nipunajith" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://github.com/MadusankaNipunajith" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/madusankanipunajith" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://br.pinterest.com/madushankanipunajith/" target="_blank"><i class="fa-brands fa-pinterest"></i></a>
        <a href="https://lk.linkedin.com/in/madusanka-nipunajith-425754202" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://medium.com/@madushankanipunajith" target="_blank"><i class="fa-brands fa-medium"></i></a>
    </div>
</footer>